appdirs==1.4.4
attrs==22.1.0
black==19.10b0
certifi==2022.12.7
cffi==1.15.1
cfgv==3.3.1
charset-normalizer==2.1.1
click==8.0.4
distlib==0.3.6
entrypoints==0.3
filelock==3.8.0
flake8==3.7.9
huggingface-hub==0.10.1
HyperPyYAML==1.0.1
identify==2.5.8
idna==3.4
joblib==1.2.0
mccabe==0.6.1
more-itertools==9.0.0
nodeenv==1.7.0
numpy==1.23.4
packaging==21.3
pathspec==0.10.1
Pillow==9.3.0
platformdirs==2.5.2
pluggy==0.13.1
pre-commit==2.20.0
py==1.11.0
pycodestyle==2.5.0
pycparser==2.21
pyflakes==2.1.1
pyparsing==3.0.9
pytest==5.4.1
PyYAML==6.0
regex==2022.10.31
requests==2.28.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
scipy==1.8.1
sentencepiece==0.1.97
soundfile==0.11.0
speechbrain==0.5.13
toml==0.10.2
torch==1.13.0
torchaudio==0.13.0
torchvision==0.14.0
tqdm==4.64.1
typed-ast==1.5.4
typing_extensions==4.4.0
urllib3==1.26.12
virtualenv==20.16.6
wcwidth==0.2.5
yamllint==1.23.0